
@model Employee180220.Models.EmployeeInfo
@{
    Layout = null;
}

<script>
    //function ShowImagePreview(imageUploader, previewImage) {
    //    if (imageUploader.files && imageUploader.files[0]) {
    //        var reader = new FileReader();
    //        reader.onload = function (e) {
    //            $(previewImage).attr('src', e.target.result);
    //        }
    //        reader.readAsDataURL(imageUploader.files[0]);

    //    }
    //}
    $('#IsCurrentEmployee').change(function(){
        if (this.checked) {
            $('#IsCurrentEmployee').val('True');
        } else {
            $('#IsCurrentEmployee').val('False');
        }
            
    });
    //$('#IsCurrentEmployee').click(function () {
    //    console.log('Checkbox clicked');
    //    IsCurrentEmployee();
        
    //});
    //var IsCurrentEmployee = function() {

    //}
    $('#saveEmp').click(function () {
        console.log('Save Emp clicked');
        AddOrEditEmployee();
        
    });
    var AddOrEditEmployee = function () {
        var requestData = {
            EmployeeId: $('#EmployeeId').val(),
            Name: $('#Name').val(),
            Age: $('#Age').val(),
            Office: $('#Office').val(),
            Position: $('#Position').val(),
            Salary: $('#Salary').val(),
            IsCurrentEmployee: $('#IsCurrentEmployee').val(),
            ImagePath: $('#ImagePath').val()
        };
        $.ajax({
            url: '/Employee/AddOrEdit',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $.notify("Successfull!", "success");
                $('#main').load('/Employee/Employee');
            },
            async: true,
            processData: false
        });
    }
</script>
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    #w3-container.w3-container {
        height: 300px;
    }

    .btnButton {
        position: absolute;
        float: right;
        top: 240px;
        right: 10px
    }

    #IsCurrentEmployee.w3-input {
        position: absolute;
        left: 54%;
        top: 67%;
    }
    col-md-8{
        position: fixed;
        height: 50px;
        width: 50px;
        left: 90%;
        
        margin: 10px;
    }
</style>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<meta name="viewport" content="width=device-width" />


<title>Add Or Edit Employee</title>
<div id="addOrEdit">
    <div class="w3-card-4" id="update2">
        <header class="w3-container w3-black">
            <h1>Employee Details</h1>
        </header>
        <div id="w3-container" class="w3-container">
            @Html.HiddenFor(model => model.EmployeeId)
            @Html.HiddenFor(model => model.ImagePath)
            <div class="w3-row-padding">

                <div class="col-md-7">
                    <div class="w3-half">

                        <input class="w3-input w3-border" type="hidden" placeholder="employeeId" id="EmployeeId" value="@Model.EmployeeId">
                    </div>

                    <div class="w3-half">
                        <label>Name</label>
                        <input class="w3-input w3-border" type="text" placeholder="Name" id="Name" value="@Model.Name">
                    </div>


                    <div class="w3-half">
                        <label>Age</label>
                        <input class="w3-input w3-border" type="text" placeholder="Age" id="Age" value="@Model.Age">
                    </div>


                    <div class="w3-half">
                        <label>Office</label>
                        <input class="w3-input w3-border" type="text" placeholder="Office" id="Office" value="@Model.Office">
                    </div>


                    <div class="w3-half">
                        <label>Position</label>
                        <input class="w3-input w3-border" type="text" placeholder="Position" id="Position" value="@Model.Position">
                    </div>


                    <div class="w3-half">
                        <label>Salary</label>
                        <input class="w3-input w3-border" type="text" placeholder="Salary" id="Salary" value="@Model.Salary">
                    </div>


                    <div class="w3-half">
                        <label>Is Current Employee?</label>
                        <input class="w3-input w3-border" type="checkbox" id="IsCurrentEmployee">
                        @*@Html.CheckBoxFor(m=>m.IsCurrentEmployee)*@
                    </div>


                    <div id="saveEmp" class="w3-half">
                        <div class="btnButton">
                            <button type="submit" class="btn btn-success"><i class="material-icons">person_add</i>Add</button>
                        </div>
                    </div>


                </div>
                @*<div id="image" class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            <img src="@Url.Content(Model.ImagePath)" id="imagePreview" />
                            <input type="file" name="ImageUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />
                        </div>
                    </div>
                </div>*@

            </div>

        </div>

    </div>
</div>