
@model Employee180220.Models.EmployeeInfo
@{
    Layout = null;
}

<script>
    $('#saveEmp').click(function () {
        console.log('Save Emp clicked');
        AddOrEditEmployee();
    });
    var AddOrEditEmployee = function () {
        var requestData = {
            EmployeeId: $('#EmployeeId').val(),
            Name: $('#Name').val(),
            Age: $('#Age').val(),
            Office: $('#Office').val(),
            Position: $('#Position').val(),
            Salary: $('#Salary').val(),
            IsCurrentEmployee: $('#IsCurrentEmployee').val(),
            ImagePath: $('#ImagePath').val()
        };
        $.ajax({
            url: '/Employee/AddOrEdit',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                alert('Success');
            },
            async: true,
            processData: false
        });
    }
</script>
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    #w3-container.w3-container {
        height: 300px;
    }

    .btnButton {
        position: absolute;
        float: right;
        top: 240px;
        right: 10px
    }

    #IsCurrentEmployee.w3-input {
        position: absolute;
        left: 54%;
        top: 67%;
    }
</style>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<meta name="viewport" content="width=device-width" />


<title>Add Or Edit Employee</title>
<div id="addOrEdit">
    <div class="w3-card-4">
        <header class="w3-container w3-black">
            <h1>Employee Details</h1>
        </header>
        <div id="w3-container" class="w3-container">
            @Html.HiddenFor(model => model.EmployeeId)
            <div class="w3-row-padding">

                <div class="col-md-7">
                    <div class="w3-half">

                        <input class="w3-input w3-border" type="hidden" placeholder="employeeId" id="EmployeeId">
                    </div>
                    <div class="w3-half">
                        <label>Name</label>
                        <input class="w3-input w3-border" type="text" placeholder="Name" id="Name" value="@Model.Name">
                        @*@Html.EditorFor(model => model.Name, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="w3-half">
                        <label>Age</label>
                        <input class="w3-input w3-border" type="text" placeholder="Age" id="Age">
                        @*@Html.EditorFor(model => model.Age, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="w3-half">
                        <label>Office</label>
                        <input class="w3-input w3-border" type="text" placeholder="Office" id="Office">
                        @*@Html.EditorFor(model => model.Office, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="w3-half">
                        <label>Position</label>
                        <input class="w3-input w3-border" type="text" placeholder="Position" id="Position">
                        @*@Html.EditorFor(model => model.Position, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="w3-half">
                        <label>Salary</label>
                        <input class="w3-input w3-border" type="text" placeholder="Salary" id="Salary">
                        @*@Html.EditorFor(model => model.Salary, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="w3-half">
                        <label>Is Current Employee?</label>
                        @*<input class="w3-input w3-border" type="checkbox" id="IsCurrentEmployee">*@
                        @Html.EditorFor(model => model.IsCurrentEmployee, "", new { @class = "text-danger" })
                    </div>
                    <div id="saveEmp" class="w3-half">
                        <div class="btnButton">
                            <button type="submit" class="btn btn-success"><i class="material-icons">person_add</i>Add</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="w3-half">
                        <label>Profile Image</label>
                        <input class="w3-input w3-border" type="hidden" placeholder="ImagePath" id="ImagePath">
                        @*@Html.HiddenFor(model => model.ImagePath)*@
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>