@model IEnumerable<Employee180220.Models.EmployeeInfo>

@{
    Layout = null;
}
<script>
    var Delete = function(url) {
        if (confirm('Are you sure to delete this record ?') == true) {
            $.ajax({
                type: 'POST',
                url: url,
                success: function (result) {
                    $.notify("Deleted!");
                    $('#main').load('/employee/deleteemployee');
                },
                async: true,
                processData: false
            });
        }
    }
</script>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Employee</title>
    

<table class="table table-bordered table-condensed" id="employeeTable">
    <thead class="thead-dark">
    <tr>
        <th>Employee Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Office</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Is Current Employee</th>
        <th>Action</th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCurrentEmployee)
            </td>
            <td>
                <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "Employee", new {id = @item.EmployeeId})')"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
    }

</table>



    