@model IEnumerable<Employee180220.Models.EmployeeInfo>

@{
    Layout = null;
}
<script>

    //$('#update').click(function () {
     
    //    console.log('Update Emp clicked');
    //    Edit();
    //});
    //var Edit = function () {
        
    //    var id = $(this).find("td:first-child").text();
    //    //var id = $(this).data('jId');
    //    console.log('ajax call');
    //    $.ajax({
    //        url: '/Employee/AddOrEdit',
    //        type: 'POST',
    //        //data: JSON.stringify(),
    //        dataType: 'json',
    //        data: {id: id},
    //        contentType: 'application/json; charset=utf-8',
    //        error: function (xhr) {
    //            alert('Error: ' + xhr.statusText);
    //        },
    //        success: function (result) {
                
    //            $("#employeeTable").html(result);
    //            console.log(result);
    //        },
    //        async: true,
    //        processData: false
    //    });
    //}
    var Edit = function (url) {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (response) {
                $("#tabContent").html(response);
            }

        });
    }
    //var Edit = function (id) {
    //    //var requestData = {
    //    //    EmployeeId: $('#EmployeeId').val(),
    //    //    Name: $('#Name').val(),
    //    //    Age: $('#Age').val(),
    //    //    Office: $('#Office').val(),
    //    //    Position: $('#Position').val(),
    //    //    Salary: $('#Salary').val(),
    //    //    IsCurrentEmployee: $('#IsCurrentEmployee').val(),
    //    //    ImagePath: $('#ImagePath').val()
    //    //}
        
    //    $.ajax({
    //        url: '/Employee/AddOrEdit',
    //        type: 'GET',
    //        //data: JSON.stringify(),
            
    //        dataType: 'text',
    //        contentType: 'application/json; charset=utf-8',
    //        error: function (xhr) {
    //            alert('Error: ' + xhr.statusText);
    //        },
    //        success: function (response) {
    //            alert('Success');
    //            $('#tabContent').load("/Employee/AddOrEdit?id=38");
    //            //$('#EmployeeId').val(),
    //            //    $('#Name').val(),
    //            //    $('#Age').val(),
    //            //    $('#Office').val(),
    //            //    $('#Position').val(),
    //            //    $('#Salary').val(),
    //            //    $('#IsCurrentEmployee').val(),
    //            //    $('#ImagePath').val()
    //            //$('#addOrEdit').html(response);

    //        },
    //        async: true,
    //        processData: false
    //    });
    //}

</script>
<meta name="viewport" content="width=device-width" />
<title>EditEmployee</title>

<table class="table table-bordered" id="employeeTable">
    <thead class="thead-dark">
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Office</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Is Current Employee</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCurrentEmployee)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" @*id="update" jid="@item.EmployeeId"*@ onclick="Edit('@Url.Action("AddOrEdit", "Employee", new {id = item.EmployeeId})')"><i class="fa fa-pencil fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

