@model IEnumerable<Employee180220.Models.EmployeeInfo>

@{
    Layout = null;
}

    <meta name="viewport" content="width=device-width" />
    <title>EditEmployee</title>

    <table class="table table-bordered table-condensed" id="employeeTable">
        <thead class="thead-dark">
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Office</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Is Current Employee</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Office)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCurrentEmployee)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "Employee", new {id = item.EmployeeId})')"><i class="fa fa-pencil fa-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

