

@model IEnumerable<Employee180220.Models.EmployeeInfo>
@{
    Layout = null;
}
<script>
    $("#tableSearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#employeeTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    $('#button2').unbind().click(function () {
        console.log('Button clicked');
        AddEmployee();
        
    });
    var AddEmployee = function () {
	
        $('#main').load('/Employee/AddOrEdit');
    }

    $('.mdb-select').materialSelect();
    $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
        $(this).closest('.select-outline').find('label').toggleClass('active');
        $(this).closest('.select-outline').find('.caret').toggleClass('active');
    });



</script>
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    .btnButton1 {
        position: fixed;
        float: right;
        top: 13%;
        right: 1%;
    }

    #employeeData.employeeData {
        position: absolute;
        
        width: 97%;
        height: 500px;
    }

</style>
<meta name="viewport" content="width=device-width" />

<title>Employee</title>

<h2>Employees Information</h2>
<div id="button2" class="btnButton1">
    <button type="submit" class="btn btn-success"><i class="material-icons">person_add</i>Add Employee</button>
</div>
<div id="employeeData" class="employeeData">

    <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search">
    <div class="col-md-6 select-outline">
        <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
            <option value="" selected>Choose your option</option>
            <option value="1">True</option>
            <option value="2">False</option>
            
        </select>
        <label>Search</label>

    </div>

    <table class="table table-bordered" id="employeeTable">
        <thead class="thead-dark">
            <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Office</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Is Current Employee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Office)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCurrentEmployee)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




